<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>


    
    <link href='../public/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='../public/bower_components/components-font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Righteous" rel="stylesheet">
    <link href='../public/stylesheets/login.css' rel='stylesheet' type='text/css'>


</head>
<body>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            Login
        </div>
        <div class="panel panel-body">
            <input type="email" placeholder="Email" class="form-control">
        </div>
    </div>

</body>
</html>