

body {
    background: #eee;
    min-width: 1200px !important;
}

 .panel {
     margin: 8% 6% 100px 6%;
     text-align: left;
 }




.postTitle {
    text-transform: uppercase !important;
    text-shadow: 1px 1px 1px #555 !important;
    color: #000 !important;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    font-size: 1.5em;
    font-family: 'Righteous', cursive;
}

.postContent {
    font-size: 1.3em;
    letter-spacing: 0.05em;
    line-height: 30px;
    padding: 70px;
    background: white;
}

.rating {
    margin-top: 30px;
}

.rating-heading {
   text-transform: uppercase !important;
   color: #000 !important;
   display: block;
   padding-top: 30px;
   padding-left: 0px;
   padding-right: 0px;
   padding-bottom: 5px;
   font-size: 0.9em !important;
}


.rating-comment {
   font-size: 0.8em;
   letter-spacing: 0.1em;
   line-height: 30px;
}

.submit {
   background: #00aced !important;
   border-radius: 0px !important;
   border: none;
   text-transform: uppercase;
   box-shadow: 1px 1px 1px #888;
   color: #fff;
   padding: 10px;
   margin-bottom: 20px;
   margin-left: 0px !important;
}

.input-group-addon {
   background: #1dcaff !important;
}

.voteBtn {
   background: transparent;
   margin-right: 10px;
   background: transparent !important;
   border: 1px solid #ccc;
   box-shadow: 2px 2px 5px #888;
}

.voteBtn:hover{
   border: 1px solid #ccc !important;
}

.voteBtn:active {
   border: 1px solid #ccc !important;
   box-shadow: 1px 1px 1px #888;
}




.postViews {
   background: #00aced;
   color: #fff;
   border: 1px solid #888;
   border-radius: 7px;
   padding: 3px;
   font-size: 0.7em;
   text-shadow: 1px 1px 1px #888;
   display: inline-block;
   margin: 20px;
   margin-left: 0px;
}

#newPostTitle {
   font-size: 1.4em;
}

#newPostBody {
   font-size: 1.3em;
}
